@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* VINCULACION DE LA FUENTE "google fonts" 1,2*/

*{
	box-sizing: border-box;
}

img{
	display: block;
	max-width: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;/*FUENTE PARA EL CUERPO DE LA PAGINA.*/
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;/*FUENTE PARA LOS TITULOS DE LA PAGINA.*/
	letter-spacing: 1.5px; /* ESPACIO DE LAS LETRAS "en este caso las del titulo"*/
}

.section__titulo{
	text-align: center;
	font-size: 40px;
	color: #1888BC;
}

.contenedor{
	margin: auto;
	width: 99%;
}

/*------------------------------------------------------ESTILOS DEL "header"------------------------------------------------*/

.header{
	height: 60px;
}

.header .contenedor{
	display: flex;
	justify-content: space-between;
}

.logo, .icon-menu{
	margin: 5px;
	color: #fff;
}

.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #1888BC;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}

/*----------------------------------------------------------ESTILOS DEL MENU----------------------------------------------------------*/
.nav{
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__link{
	display: block;
	padding: 15px;
	background: #1888BC;
	text-decoration: none;
	color: #fff;
}

.menu__link:hover, .select{
	background: #fff;
	color: #1888BC;
}

.mostrar{
	left: 0;
}


/*---------------------------------------------ESTILOS DEL BANNER----------------------------------------------------------*/

.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 20px;
}

.banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}

.banner__txt{
	display: none;
}

/*-------------------------------------------------ESTILOS DE INFORMACION------------------------------------------------------------*/

.info__columna{
	background: #1888BC;
	color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}

/*-------------------------------------------------ESTILOS DE CURSOS------------------------------------------------------------*/

.tecnologia__columna{
	position: relative;
	margin-bottom: 30px; /*LINEA PARA SEPARAR LA INFORMACION ("las columnas")*/
}

.tecnologia__descripcion{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
	width: 60%;
	height: 100%;
	padding: 5px;
}

.tecnologia__titulo{
	font-size: 30px;
	margin: 5px 0;
}

/*-------------------------------------------------ESTILOS DEL FOOTER------------------------------------------------------------*/

.footer{
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon-"]{
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
}

/*-------------------------------------------------ESTILOS RESPONSIVE------------------------------------------------------------*/

@media(min-width: 480px) {
	.logo{
		font-size: 40px;
	}

	.banner__titulo{
		font-size: 30px;
		margin: 5px 0;
	}

	.banner__txt{
		display: block;
		font-size: 18px;
		margin:7px 0;
	}

	.info, .tecnologia{
		display: flex;
		justify-content: space-between;
		margin-top: -90px;
	}

	.info__columna{
		width: 24%;
	}

	.info__titulo{
		font-size: 30px;
		margin: 5px 0;
	}

	.tecnologia{
		flex-wrap: wrap; /*ESTA LINEA INDICA QUE LAS COSAS QUE NO QUEPAN EN "info" QUEDEN DEBAJO*/
		margin-top: 0;
	}

	.section__titulo{
		width: 100%;
	}

	.tecnologia__columna{
		width: 48%;
	}

	.footer .social [class^="icon-"]{
		margin: 0 10px;
	}
}

@media(min-width: 768px) { /*TAMAÑO TABLET*/
	.banner__titulo{
		font-size: 50px;
	}

	.tecnologia__titulo{
		font-size: 40px;
	}
}

@media(min-width: 1024px) { /*TAMAÑO MONITOR*/
	.contenedor{
		width: 1000px;
	}
	
	.nav{
		position: static;
		width: auto;
	}

	.menu__link{
		background: none;
		font-size: 20px;
	}

	.select{
		color: #fff;
		background: #1888BC;
	}

	.menu{
		display: flex;
	}

	.icon-menu{
		display: none;
	}

	.banner__titulo{
		font-size: 60px;
	}

	.tecnologia__titulo{
		font-size: 50px;
	}
}